@very-dark-gray: #0c0c0d;
@dark-gray: lighten(@very-dark-gray, 3%);
@gray: lighten(@dark-gray, 8%);
@light-gray: lighten(@gray, 20%);
@very-light-gray: lighten(@light-gray, 25%);

@cyan: #5ac8fa;
@blue: #007aff;
@purple: #af52de;
@green: #34c759;
@red: #ff3b30;
@orange: #ff9500;
@light-orange: #ffcc00;
